{% extends "layout.html" %}
{% block title %}Form{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-5">
            <div class="col-1"></div>
            <div class="col-10 border p-3">
                <h1 class="text-center">Form</h1>
                <form action="api" method="post">
                    <label for="year">Year:</label><br/>
                    <input type="text" id="year" name="year"><br/>
                    <label for="ccode">Country:</label><br/>
                    <select class="form-select" aria-label="Default select example" id="ccode" name="countrycode">
                        {% for row in data %}
                        <option value="{{ row.countryCode }}">{{ row["name"] }}</option>
                        {% endfor %}
                    </select>
                    <!-- Lägg till fält här -->
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
            </div>    
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}